name: CodeCov
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    env:
      OS: ubuntu-latest
      PYTHON: '3.9'
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: ‘2’
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: 3.9
    - name: Set project env
      run: echo "DJANGO_SETTINGS_MODULE=potoforio.potoforio.settings" >> $GITHUB_ENV
    - name: Generate Report
      run: |
        pip install -r requirements.txt
        pip install coverage
        coverage run ./manage.py test
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v2
